<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (c) 2018, Sony Mobile Communications Inc.
    Licensed under the LICENSE.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sony.open.cameratest">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiCameraActivity"
            android:label="@string/multi_camera"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ParallelCaptureActivity"
            android:label="@string/parallel_capture"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ZslReprocessActivity"
            android:label="@string/zsl_reprocess"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TestModeActivity"
            android:label="@string/test_mode"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>